*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    position: sticky;
    top: 0;
    z-index: 9;
}

nav{
    background-color: rgb(49, 49, 49);
    width: 100%; /* Define que o menu preencherá toda a largura */
    height: 80px; /* Define a altura do menu */
    display: flex; /* Define que agora sera um objeto manipulavel */
    justify-content: flex-end; /* Define que o conteudo ficara justificado no fim */
}

.menu{
    display: flex; /* Define que agora sera um objeto manipulavel */
    list-style: none; /* Retirar os pontos da lista */
    margin-right: 28px;
    align-items: center;
}

.menu a{
    text-decoration: none; /* Retirar a linha padrao dos links */
    color: white;
    padding: 15px; /* Define a distância entre os itens */

}

.menu a:hover{
    color: darkgray;
}

.main{
    width: 100%;
    height: 80vh;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../imagens/programador.png);
    background-size: cover;
    
}

.tituloMain h1{
    color: white;
    padding-bottom: 0.5%;
}

.tituloMain p{
    color: rgb(68, 68, 255);
    padding-bottom: 1.5%;
}

.botao button{
    background-color: white;
    border: 0;
    padding: 14px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
}

.botao button:hover{
    transform: scale(1.1);
}

.sobre{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.sobre h2{
    font-size: 32px;
    margin-bottom: 14px;
}

.sobre div{
    max-width: 50%;
    padding-right: 40px;
}

.sobre img{
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

.projetos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.projetos h2{
    font-size: 30px;
    padding-bottom: 10px;
}
.projetos p{
    padding-bottom: 40px;
    font-style: italic;
}

.imagens1{
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagens1 img{
    width: 22%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    opacity: 0.8;
    transition-duration: 0s;
}

.imagens1 img:hover{
    opacity: 1;
    transform: scale(1.05);
}

.orcamento button{
    background-color: black;
    color: white;
    font-size: 20px;
    border: 0;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
}

.orcamento button:hover{
    transform: scale(1.1);
}

footer{
    color: white;
    background-color: rgb(49, 49, 49);
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: white;
}

footer p{
    padding-left: 10px;
}